.form_btn {
  background-color: rgb(168, 156, 181);
  padding: 15px;
  color: white;
  border: white;
  border-radius: 30px;
  margin-top: 20px;
}

.form_btn:active,
.form_btn:hover {
  background-color: rgb(137, 126, 149);
}
